
@{
    ViewBag.Title = "WRList";
}

<h2>WRList</h2>

<div class="row">
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Last</th>
                    <th>First</th>
                    <th>Id</th>
                    <th>Pos</th>
                    <th>Rush</th>
                    <th>Rush Yds</th>
                    <th>Rush Td</th>
                    <th>Targets</th>
                    <th>Rec</th>
                    <th>Rec Yds</th>
                    <th>Rec Td</th>
                    <th>Attempts</th>
                    <th>Pass Yds</th>
                    <th>Pass Td</th>
                    <th>Int</th>
                    <th>Fum</th>
                </tr>
            </thead>
            <tbody>
                @for (var i = 0; i < Model.Plax.Count; i++)
                {
                    <tr>
                        <td>@Model.Plax[i].LastName</td>
                        <td>@Model.Plax[i].FirstName</td>
                        <td class="text-center">@Model.Plax[i].PlayerId</td>
                        <td class="text-center">@Model.Plax[i].Position</td>
                        <td class="text-center">@Model.Plax[i].Rush</td>
                        <td class="text-center">@Model.Plax[i].RushYards</td>
                        <td class="text-center">@Model.Plax[i].RushTd</td>
                        <td class="text-center">@Model.Plax[i].Targets</td>
                        <td class="text-center">@Model.Plax[i].Rec</td>
                        <td class="text-center">@Model.Plax[i].RecYards</td>
                        <td class="text-center">@Model.Plax[i].RecTd</td>
                        <td class="text-center">@Model.Plax[i].Attempts</td>
                        <td class="text-center">@Model.Plax[i].PassYards</td>
                        <td class="text-center">@Model.Plax[i].PassTd</td>
                        <td class="text-center">@Model.Plax[i].Pick</td>
                        <td class="text-center">@Model.Plax[i].Fum</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>